.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

mat-form-field {
    margin-right: 6px;
}

mat-toolbar {
    justify-content: center;
}

button {
    margin-right: 6px;
}