<div class="container">
    <mat-toolbar color="primary">
        3 Quick Steps To Your Cash Offer!
    </mat-toolbar>
    <form [formGroup]="formGroup">
        <mat-horizontal-stepper #stepper labelPosition="bottom" formArrayName="formArray" linear>
            <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
                <ng-template matStepLabel>Name</ng-template>
                <mat-form-field>
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="firstNameFormCtrl" required>
                    <mat-error>This field is required</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Last name</mat-label>
                    <input matInput formControlName="lastNameFormCtrl" required>
                    <mat-error>This field is required</mat-error>
                </mat-form-field>
                <div>
                    <button mat-raised-button color="primary" matStepperNext>Next</button>
                </div>
            </mat-step>

            <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
                <ng-template matStepLabel>Property for sell</ng-template>
                <mat-form-field>
                    <mat-label>Street Address</mat-label>
                    <input matInput formControlName="addressFormCtrl" required>
                    <mat-error>This field is required</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Zip Code</mat-label>
                    <input matInput formControlName="zipCodeFormCtrl" required>
                    <mat-error>This field is required</mat-error>
                </mat-form-field>
                <div>
                    <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                    <button mat-raised-button color="primary" matStepperNext>Next</button>
                </div>
            </mat-step>

            <mat-step id="offer-form" formGroupName="2" [stepControl]="formArray?.get([2])">
                <ng-template matStepLabel>
                    <div>Contact</div>
                </ng-template>
                <mat-form-field>
                    <mat-label>Email address</mat-label>
                    <input matInput formControlName="emailFormCtrl">
                    <mat-error>The input is invalid.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Phone number</mat-label>
                    <input matInput type="tel" formControlName="phoneFormCtrl" required>
                    <mat-error>The input is invalid.</mat-error>
                </mat-form-field>
                <div>
                    <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                    <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </form>
</div>