<mat-list>
    <mat-list-item *ngFor="let item of items">
        <mat-icon *ngIf="icon" mat-list-icon color="primary">{{icon}}</mat-icon>
        <h4 mat-line>{{item}}</h4>
    </mat-list-item>
</mat-list>