.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contacts {
    display: flex;
    align-items: center;
    margin: 0.5rem;
}

mat-icon {
    margin-right: 1rem;
    transform: scale(2);
}

.contacts a {
    text-decoration: none;
    color: black;
}

.contacts a:hover {
    cursor: pointer;
}