<app-offer-form-stepper id="offer"></app-offer-form-stepper>
<div class="footer">
    <mat-toolbar color="primary"></mat-toolbar>
    <div class="xx-light-title">Have More Questions?</div>
    <div class="contact-container">
        <div class="light">Contact our support team via phone or e-mail</div>
    </div>
    <div id="contact" class="contact-info">
        <div class="contacts">
            <mat-icon [inline]="true" color="primary">phone</mat-icon>
            <a href="tel:+1-210-854-2649" class="light">210-854-2649</a>
        </div>
        <div class="contacts">
            <mat-icon [inline]="true" color="primary">email</mat-icon>
            <div class="light">darren@dabbuyrealestate.com</div>
        </div>
    </div>
</div>
