<mat-toolbar color="primary">
    <ul fxShow="true" 
        fxHide.xs="true">
        <!-- <mat-icon class="logo" [routerLink]="['']">home</mat-icon> -->
        <!-- <li><a [routerLink]="['/why']">ABOUT US</a></li> -->
        <li><a [routerLink]="['/']">HOME</a></li>
        <li><a [routerLink]="['/faq']">FAQ</a></li>
        <li><span class="spacer"></span></li>
        <!-- <li class="contact"><mat-icon>settings_phone</mat-icon><a href="tel:+1-210-854-2649" class="number">210-854-2649</a></li> -->
        <li><button mat-raised-button color="accent" class="bold" (click)="getOffer()">GET CASH OFFER</button></li>
    </ul>
    <button 
        fxShow="false"
        fxHide.xs="false"
        mat-icon-button 
        (click)="onToggleSidenav()">
        <mat-icon>
            menu
        </mat-icon>
    </button>
</mat-toolbar>