mat-toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 82px;
}

.logo {
}

.logo:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
}

/* 4dafff
053359 */

ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

ul li {
    margin: 12px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.spacer {
    flex: 1 1 auto;
}

.contact {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.number {
}

a:hover {
    border-bottom: 1px solid black;
}