mat-icon {
    transform: scale(3);
}

mat-card-content {
    min-width: 300px;
}

.home-container {
    margin-bottom: 1rem;
}

.info-container {
    justify-content: center;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vs {
    margin: 0 1rem 0 1rem;
}

.description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.steps-container {
    display: flex;
    margin: 2rem;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    margin: 0 1rem 0 1rem;
}

.step .content-header {
    margin: 1rem;
    font-size: 16px;
}

.step .description .content{
    margin: 1rem;
    font-size: 16px;
}