<div class="home-container">
    <div class="info-container">
        <div class="xxx-light-title">
            Sell Your House Fast!
        </div>
        <div class="description-container">
            <div class="xx-light-title">It's Simple and Easy</div>
            <p class="description">
                Selling your house is made simple and easy when purchasing with cash. You'll only
                be working with one of our associates throughout the entire process. No realtor
                agent needed, No late night calls asking to walk your property, No weekend showings.
                This is a hassle free process made easy by us.
            </p>
            <!-- <div class="title xx-light">Follow these steps   ?</div> -->
            <div class="steps-container">
                <div class="step">
                    <mat-icon [inline]="true" color="primary">looks_one</mat-icon>
                    <div class="content-header">Call 210-854-2649</div>
                    <div class="content light">Only need a brief call about the property for us to make an offer.</div>
                </div>
                <div class="step">
                    <mat-icon [inline]="true" color="primary">looks_two</mat-icon>
                    <div class="content-header">Recieve an offer</div>
                    <div class="content light">You select the closing date.</div>
                </div>
                <div class="step">
                    <mat-icon [inline]="true" color="primary">looks_3</mat-icon>
                    <div class="content-header">Close in cash</div>
                    <div class="content light">As soon as you close you'll receive your cash.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="xxx-light-title">Why Sell Here?</div>
    <div class="card-container">
        <mat-card>
            <div class="xx-light-title">DAB</div>
            <mat-card-content>
                <app-list [items]="pros" [icon]="'mood'"></app-list>
            </mat-card-content>
        </mat-card>
        <div class="xx-light vs">VS</div>
        <mat-card>
            <div class="xx-light-title">Traditional</div>
            <mat-card-content>
                <app-list [items]="cons" [icon]="'mood_bad'"></app-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>