<mat-sidenav-container>
    <mat-sidenav #sidenav position="end">
        <app-sidenav-list (sidenavToggle)="sidenav.toggle()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- header -->
        <app-header (sidenavToggle)="sidenav.toggle()"></app-header>

        <!-- routes -->
        <main>
            <router-outlet></router-outlet>
        </main>

        <!-- footer -->
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>