<div class="faq-title-container">
    <div class="xxx-light-title">FAQ</div>
    <div class="x-light">Have a few questions? Check out these below!</div>
</div>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        <li class="mat-tree-node"><button mat-icon-button disabled></button>
            {{node.qa}}
        </li>
    </mat-tree-node>
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <li>
            <div class="mat-tree-node bold">
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle' + node.qa">
                    <mat-icon class="mat-icon-rtl-mirror" color="primary">
                        {{treeControl.isExpanded(node) ? 'arrow_drop_down' : 'arrow_right'}}
                    </mat-icon>
                </button>
                {{node.qa}}
            </div>
            <ul class="x-light" [class.tree-invisible]="!treeControl.isExpanded(node)">
                <ng-container matTreeNodeOutlet></ng-container>
            </ul>
        </li>
    </mat-nested-tree-node>
</mat-tree>
