mat-tree {
    background-color: #fafafa;
}

.faq-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul, li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.tree-invisible {
    display: none;
}

