<!-- Template Driven Form -->
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input 
        matInput 
        #emailInput="ngModel"
        name="email"
        ngModel
        type="email" 
        placeholder="E-Mail"
        required
        email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input 
        matInput
        #passwordInput="ngModel"
        name="password"
        ngModel
        type="password"
        placeholder="Password"
        required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Login</button>
  </form>
</mat-card>
