<mat-nav-list class="sidenav-list">
    <a mat-list-item routerLink="" (click)="onToggle()">
        <mat-icon>login</mat-icon>
        <span></span>
    </a>
    <a mat-list-item href="" (click)="onToggle()">
        <mat-icon>home</mat-icon>
        <span></span>
    </a>
    <a mat-list-item href="" (click)="onToggle()">
        <mat-icon>settings_phone</mat-icon>
        <span></span>
    </a>
</mat-nav-list>