@import '../node_modules/@angular/material/theming';

@include mat-core();

$custom-theme-primary: mat-palette($mat-blue-gray, 900);
// blue hex #263238
$custom-theme-accent: mat-palette($mat-yellow, 700);
// yellow hex #FFD600
$custom-theme-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);