/* You can add global styles to this file, and also import other style files */
@import './assets/custom-theme.scss';

/* Fonts */
@font-face {
    font-family: open_sans_bold;
    src: url(assets/fonts/Open_Sans/OpenSans-Bold.ttf) format("opentype");
}

@font-face {
    font-family: open_sans_extra_bold;
    src: url(assets/fonts/Open_Sans/OpenSans-ExtraBold.ttf) format("opentype");
}

@font-face {
    font-family: open_sans_extra_bold_italic;
    src: url(assets/fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf) format("opentype");
}

@font-face {
    font-family: open_sans_light;
    src: url(assets/fonts/Open_Sans/OpenSans-Light.ttf) format("opentype");
}

html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #fafafa;
}

.xx-bold { 
    font-size: 24px;
    font-family: open_sans_extra_bold, "Helvetica Neue", sans-serif; 
}

.x-bold {
    font-size: 20px;
    font-family: open_sans_extra_bold, "Helvetica Neue", sans-serif;
}

.bold { 
    font-family: open_sans_bold, "Helvetica Neue", sans-serif; 
}

.xx-light {
    font-size: 24px; 
    font-family: open_sans_light, "Helvetica Neue", sans-serif; 
}

.x-light {
    font-size: 20px; 
    font-family: open_sans_light, "Helvetica Neue", sans-serif; 
}

.light { 
    font-family: open_sans_light, "Helvetica Neue", sans-serif; 
}

/** Generic Titles **/
.xx-bold-title {
    margin: 1rem 0 1rem 0;
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-family: open_sans_extra_bold, "Helvetica Neue", sans-serif; 
}

.x-bold-title {
    margin: 1rem 0 1rem 0;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-family: open_sans_extra_bold, "Helvetica Neue", sans-serif; 
}

.xx-light-title {
    margin: 1rem 0 1rem 0;
    text-align: center;
    width: 100%;
    font-size: 24px; 
    font-family: open_sans_light, "Helvetica Neue", sans-serif; 
}

.xxx-light-title {
    margin: 1rem 0 1rem 0;
    text-align: center;
    width: 100%;
    font-size: 32px; 
    font-family: open_sans_light, "Helvetica Neue", sans-serif; 
}

/** Descriptions **/
.description {
    max-width: 720px;
    word-wrap: break-word;
    font-family: open_sans_light, "Helvetica Neue", sans-serif; 
}

